/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
	position: relative;
	width: 100%;
	height: 100%;
	order: 2;
	-webkit-order: 2;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	min-width: 320px;
}

.main-slider {
	width: 100%;
	height: 680px;
	
	.swiper-slide {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		
		picture {
			position: relative;
		}
	}
	h1 {
		color: #ffffff;
		font-size: 30px;
		font-weight: 400;
		line-height: 35.4px;
		margin-top: 95px;
	}
	p {
		color: #ffffff;
		font-family: "Geometria";/*добавить как шаблон*/
		font-weight: bolder;
		font-size: 16px;
		line-height: 26px;
		margin-top: 15px;
	}

	.first-slide::before {
		content: "dalas";
		position: absolute;
		font-size: 170px;
		color: #282828;
		text-transform: uppercase;
	}
	.first-slide {
		position: relative;
		background: linear-gradient(102.57deg, #333333 30.83%, #3a3a3a 49.73%, #000000 100%);
		
		img {
			margin-top: 224px;
		}
	}

	.second-slide {
		position: relative;
		background: linear-gradient(102.57deg, #219653 30.83%, #27ae60 49.73%, #135730 100%);
		
		&::before {
			content: "NATURAL";
			position: absolute;
			font-size: 170px;
			color: #f2f2f2;
			opacity: 30%;
		}
		
		img {
			margin-top: 50px;
		}

		h1 {
			margin-top: 0;
		}
	}
}
.title__container {
	display: flex;
	padding-top: 66px;
	width: 100%;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	align-items: center;

	h2 {
		font-size: 32px;
		color: #3a3a3a;
	}
	h3{
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
	}
	p{
		font-family: 'Geometria';
		text-align: center;
		width: 312px;
		height: 127px;
		font-size: 16px;

	}
}
