/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  padding-top: 47px;
  -webkit-order: 1;
  position: absolute;
  min-width: 320px;
  width: 100%;
  z-index: 3;
}

 .nav {
	
	&-link {
		font-size: 14px;
		color: #FFFFFF;
		line-height: 17px;
	}
}

