<!DOCTYPE html>
<html lang="ru">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
	<title>Главная</title>
</head>

<body class="loaded">
	<!-- BODY -->
	<div class="main-wrapper">
		<!-- HEADER -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="main-logo col-4">
						<img src="/src/img/logo.png">
					</div>
					
					<ul class="nav col-8 justify-content-end">
						<li class="nav-item">
							<a class="nav-link" href="#">Про бренд</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Продукція</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Відгуки</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">FAQ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">FB</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">INSTA</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!-- HEADER END -->

		<!-- CONTENT -->
		<main class="content">
			<section class="section">
				<div class="container-fluid px-0">
					<div class="main-slider swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide first-slide">
								<!-- before -->
								<picture>
									<img src="<%= require('./img/default.svg') %>"
										data-src="<%= require('./img/log-dalas-gold.png') %>" alt="example" title="example">
								</picture>
								<h1>Тут може бути слоган</h1>
								<p>Виглядай SUPER за будь-яких умов та де завгодно!</p>
							</div>
							<div class="swiper-slide second-slide">
								<picture>
									<img src="<%= require('./img/default.svg') %>"
										data-src="<%= require('./img/logo-red_bottle.png') %>" alt="example" title="example">
								</picture>
								<h1>Тут може бути слоган</h1>
								<p>Виглядай SUPER за будь-яких умов та де завгодно!</p>
							</div>

							<div class="swiper-slide">
								<picture>
									<img src="<%= require('./img/default.svg') %>"
										data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
								</picture>
							</div>

							<div class="swiper-slide">
								<picture>
									<img src="<%= require('./img/default.svg') %>"
										data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
								</picture>
							</div>

							<div class="swiper-slide">
								<picture>
									<img src="<%= require('./img/default.svg') %>"
										data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
								</picture>
							</div>
						</div>

						<div class="swiper-pagination"></div>

						<!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->


					</div>
				</div>
			</section>

			<section class="section">
				<div class="title__container">
					<h2>ЧОМУ ЖІНКИ ОБИРАЮТЬ DALLAS</h2>
				</div>
					<div class="title__column">
						<div class="conteiner-fluid">
							<div class="row">
								<div class="col-4 " >
									<h3>доступна ціна</h3>
									<p class="text-center">Щоб на зустрічі з подружками чути сотні компліментів. Щоб навіть сидячи вдома, відчувати себе на мільйон. Шампунь + маска = і ось ти вже готова до будь-яких викликів життя!</p>
								</div>
								<div class="col-4">
									<h3>доступна ціна</h3>
									<p class="text-center">Щоб на зустрічі з подружками чути сотні компліментів. Щоб навіть сидячи вдома, відчувати себе на мільйон. Шампунь + маска = і ось ти вже готова до будь-яких викликів життя!</p>
								</div>
								<div class="col-4">
									<h3>доступна ціна</h3>
									<p class="text-center">Щоб на зустрічі з подружками чути сотні компліментів. Щоб навіть сидячи вдома, відчувати себе на мільйон. Шампунь + маска = і ось ти вже готова до будь-яких викликів життя!</p></div>
							</div>
						</div>
				</div>
			</section>
		</main>
		<!-- CONTENT END -->

		<!-- FOOTER -->
		<footer class="footer">
			<div class="container bg-info">
				<h3 class="m-0">Footer Title</h3>
			</div>
		</footer>
		<!-- FOOTER END -->
	</div>

	<div class="icon-load">
		<picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
	</div>
	<!-- BODY END   -->
</body>

</html>

<!--  <div class="section">
				<div class="container">
                <h2>Section Pictures</h2>
                <picture>
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="loader" title="loader">
                </picture>

                <svg>
                    <use xlink:href="img/spritemap.svg#sprite-ok"></use>
                </svg>
            </div>
        </div>-->